main {
    z-index: 1;
    position: absolute;
    /* left: 0; */
    /* top: 0; */
}
canvas {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
button {
    color: #011a1a;
    background-color: #4d8683;
    border-color: #011a1a;
    border-style: solid;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 7px;
    font-family: BIZ UDPGothic;
}
button:hover {
    cursor: pointer;
}
.slider-section {
    color: #011a1a;
    background-color: #4d8683;
    border-color: #011a1a;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    font-size: 14px;
}