.h1 {
    text-align: center; 
}
.splash-name {
    text-align: center;
    /* display: inline-block; */
    margin-left: 400px;
    margin-top: 150px;
}
.enter-link {
    margin-left: 475px;
    margin-top: 280px;
}